.contacts a {
    text-decoration: underline;
}

.contacts p {
    margin-top: 16px;
}

.btn-contact {
    margin-right: 8px;
}

h5 {
    margin-bottom: 24px;
}

@media only screen and (max-width: 900px) {
    .contacts a {
        display: block;
    }

    h3 {
        line-height: 1;
    }

    h5 {
        margin: 16px 0 32px 0;
    }

    .btn-contact {
    margin-bottom: 16px;
    margin-right: 0;
    }
}