/* covid */
.covid--section {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0.8rem 0 0.6rem 0 !important;
  background: #6394FF !important;
  color: #fff !important;
  cursor: pointer;
}

.grid-covid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-gap: 0px 10px;
}

.covid--section__width {
  max-width: 1400px;
  margin: 0 auto;
}

.covid--image {
  width: 100px;
}


@media only screen and (max-width: 900px) {
  .covid--section {
    border-radius: 8px;
    margin: 8px !important;
    width: auto;
  }
  .covid--section p {
    font-size: 1rem !important;
  }
  .covid--section .material-icons {
    font-size: 16px;
    opacity: 0.6;
    top: 8px !important;
    cursor: pointer; 
    position: absolute; 
    right: 8px;
  }
  .covid--section img {
    width: 80%;
  }
  .covid--section .col-3 {
    display: flex; 
    justify-content: center;
  }
}