.grid-header {
  display: grid;
  grid-template-columns: 20% 2% 38% 20% 20%;
}

.grid-subheader {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.grid-2 {
  display: grid;
  grid-template: auto / 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
}

.gap-m {
  grid-gap: 2rem 1rem;
}

.gap-s {
  grid-gap: 0.5rem;
}

.grid-i-v-c {
  align-items: center;
}

.grid-i-h-c {
  justify-items: center;
}

/* verical */
.grid-i--v-t {
  align-self: start;
}

.grid-i--v-c {
  align-self: center;
}

.grid-i--v-b {
  align-self: end;
}

/* horizontal */
.grid-i--h-r {
  justify-self: end;
}

.grid-i--h-l {
  justify-self: start;
}

.grid-i--h-c {
  justify-self: center;
}

.grid-i--h-w {
  justify-self: stretch;
}



header .grid-i {
  background: tomato;
  place-self: center;
}

header .logotype {
  width: 20vh;
}

header {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  margin-top: 24px;
}

header #delivery {
  background: #ffd164;
  color: #131313;
  width: max-content;
}

header #delivery  {
  background: #ffd164;
  color: #131313;
  width: max-content;
}

.subheader {
  border-top: 1px solid #e1e1e1;
  height: 54px;
  line-height: 48px;
  white-space: nowrap;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 16px;
  word-spacing: 16px;
}

.subheader a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 500;
}

.subheader--decoration {
  color: #808080;
}

.subheader--decoration:hover {
  color: #131313;
  text-decoration: underline;
}

.subheader .subheader--active {
  text-decoration: underline;
  color: #131313;
}

.subheader--right {
  text-align: right;
}


@media only screen and (max-width: 900px) {
  .mob-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .subheader {
    background: red;
    display: none;
  }
}


