/* .review--card {
    border-radius: 1rem;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.164);
} */

.review {
    background: white;
    padding: 16px;
    border-radius: 0.5rem;
}

.review--text {
    padding-left: 16px;
    padding-right: 16px;
}

.review small {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

.review--grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.review--card__img {
    width: 100%;
}

@media only screen and (max-width: 900px) {
/* review */

}