.accordion {
    background-color: white;
    border: 1px solid #131313;
    color: #131313;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 1rem;
    transition: 0.4s;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .review--card {
    box-shadow: none !important;
    margin-bottom: 16px !important;
    max-width: none;
    font-size: 1.4rem;
  }

  .review--card small {
    font-size: 1rem;
  }
  
  .active, .accordion:hover {
    background-color: #6394FF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    color: white;
  }
  
  .accordion:after {
    content: '\002B';
    color: #131313;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 16px;
    background-color:#fff;
    max-height: 0;
    overflow: hidden;
    margin-bottom: 16px;
    transition: max-height 0.2s ease-out;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .panel--margin {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .panel .col-md-4 {
    padding-left: 0px !important;
}